
.ipynb_checkpoints/dimension count-checkpoint.ipynb
.ipynb_checkpoints/prove E res-checkpoint.ipynb
.ipynb_checkpoints/prove it!!-checkpoint.ipynb
.ipynb_checkpoints/prove the lemmon-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/prove it!!-checkpoint.ipynb
